.section {
  width: 100%;
  height: 75%;
  display: flex;
  flex-flow: row wrap;
  margin: 1rem 2rem;

  .para {
    padding-bottom: 1rem;
    h2 {
      font-size: 3rem;
      text-align: center;
    }

    p {
      font-size: 1.5rem;
      margin-top: 2rem;
    }
  }

  .para-1 {
    border-bottom: 2px solid magenta;
    color: transparent;
    background: linear-gradient(to right, magenta, red);
    -webkit-background-clip: text;
    background-clip: text;
  }

  .para-2 {
    border-bottom: 2px solid rgb(79, 79, 255);
    color: transparent;
    background: linear-gradient(to right, aqua, rgb(57, 57, 255));
    -webkit-background-clip: text;
    background-clip: text;
    margin-top: 2rem;
  }
}
